.u{
    display: flex;
    height: 100vh;
}
.u-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8FF;
}
.u-right{
    flex: 1;
    position: relative;
    background-color: #F0F8FF
    ;
}
.u-left-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.u-intro{
    font-size: 30px;
    font-weight: 300;
}
.u-name{
    font-size: 60px;
}
.u-title{
    height: 50px;
    overflow: hidden;
    color: #4682B4;
}
.u-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
}
.u-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.u-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width: 100%;
    height: 100%;
    position: absolute
}
.u-email{
    font-size: 30px;
}

@media screen and (max-width: 480px){
    .u{
        flex-direction: column;
    }
}